@charset "utf-8";
/* CSS Document */
body {
  background-image:url(../images/bg_print.jpg);
}

/*--------------------------------- 
-------portfoloi pieces------- 
-----------------------------------*/
#agenda{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_agenda.jpg);
}
#agenda_ft{
	width:238px;
    height:238px;
	background-image:none;
}
#agenda_ft:hover{
	background-image:url(../images/img_agenda_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#ballon{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_ballon.jpg);
}
#ballon_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#ballon_ft:hover{
	background-image:url(../images/img_ballon_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#drill{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_drill.jpg);
}
#drill_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#drill_ft:hover{
	background-image:url(../images/img_drill_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#hummer{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_hummer.jpg);
}
#hummer_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#hummer_ft:hover{
	background-image:url(../images/img_hummer_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#lucas{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_lucas.jpg);
}
#lucas_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#lucas_ft:hover{
	background-image:url(../images/img_lucas_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#smart01{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_smart01.jpg);
}
#smart01_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#smart01_ft:hover{
	background-image:url(../images/img_smart01_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#smart02{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_smart02.jpg);
}
#smart02_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#smart02_ft:hover{
	background-image:url(../images/img_smart02_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#bag{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_bag.jpg);
}
#bag_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#bag_ft:hover{
	background-image:url(../images/img_bag_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#icream{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_icream.jpg);
}
#icream_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#icream_ft:hover{
	background-image:url(../images/img_icream_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#euro{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_euro.jpg);
}
#euro_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#euro_ft:hover{
	background-image:url(../images/img_euro_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#dvd{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_dvd.jpg);
}
#dvd_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#dvd_ft:hover{
	background-image:url(../images/img_dvd_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#disco{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_disco.jpg);
}
#disco_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#disco_ft:hover{
	background-image:url(../images/img_disco_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}
	/*------------------------------*/
#rtc{
	position:absolute;
	width:238px;
	height:238px;
	background-image:url(../images/img_rtc.jpg);
}
#rtc_ft{
	margin:0;
	width:238px;
    height:238px;
	background-image:none;
}
#rtc_ft:hover{
	background-image:url(../images/img_rtc_ft.jpg);
	background-repeat:no-repeat;
	padding-top:200px;
	background-position:center;
}

	/*--------------contact block----------------*/

#ctct{
	position:absolute;
	margin:0;
	width:238px;
    height:238px;
	background-color:#666666;
}

/*--------------------------------- 
-------block size is 238*238------- 
-----------------------------------*/
#thmb01 {
    position:absolute;
    left:0px;
    top:224px;
    width:238px;
    height:238px;
}

#thmb02{
    position:absolute;
    left:240px;
    top:224px;
    width:238px;
    height:238px;
}

#thmb03 {
    position:absolute;
    left:480px;
    top:224px;
    width:238px;
    height:238px;
}

#thmb04 {
    position:absolute;
    left:720px;
    top:224px;
    width:238px;
    height:238px;
}

#thmb05 {
    position:absolute;
    left:0px;
    top:464px;
    width:238px;
    height:238px;
}

#thmb06 {
    position:absolute;
    left:240px;
    top:464px;
    width:238px;
    height:238px;
}

#thmb07 {
    position:absolute;
    left:480px;
    top:464px;
    width:238px;
    height:238px;
}

#thmb08 {
    position:absolute;
    left:720px;
    top:464px;
    width:238px;
    height:238px;
}

#thmb09{
    position:absolute;
    left:0px;
    top:704px;
    width:238px;
    height:238px;
}

#thmb10 {
    position:absolute;
    left:240px;
    top:704px;
    width:238px;
    height:238px;
}

#thmb11 {
    position:absolute;
    left:480px;
    top:704px;
    width:238px;
    height:238px;
}

#thmb12 {
    position:absolute;
    left:720px;
    top:704px;
    width:238px;
    height:238px;
}

#thmb13 {
    position:absolute;
    left:0px;
    top:944px;
    width:238px;
    height:238px;
}

#thmb14 {
    position:absolute;
    left:240px;
    top:944px;
    width:238px;
    height:238px;
}

#thmb15 {
    position:absolute;
    left:480px;
    top:944px;
    width:238px;
    height:238px;
}

#thmb16 {
    position:absolute;
    left:720px;
    top:944px;
    width:238px;
    height:238px;
}

#thmb17 {
    position:absolute;
    left:0px;
    top:1184px;
    width:238px;
    height:238px;
}

#thmb18 {
    position:absolute;
    left:240px;
    top:1184px;
    width:238px;
    height:238px;
}

#thmb19 {
    position:absolute;
    left:480px;
    top:1184px;
    width:238px;
    height:238px;
}

#thmb20 {
    position:absolute;
    left:720px;
    top:1184px;
    width:238px;
    height:238px;
}

#thmb21 {
    position:absolute;
    left:0px;
    top:1424px;
    width:238px;
    height:238px;
}

#thmb22 {
    position:absolute;
    left:240px;
    top:1424px;
    width:238px;
    height:238px;
}

#thmb23 {
    position:absolute;
    left:480px;
    top:1424px;
    width:238px;
    height:238px;
}

#thmb24 {
    position:absolute;
    left:720px;
    top:1424px;
    width:238px;
    height:238px;
}

#btm2px{
    position:absolute;
    left:0px;
    top:1184px;
    width:238px;
    height:1px;
}